<div>
  <%= link_to event.user.first_name || event.user.email, user_path(event.user) %>
  <%= event.action %> un
  <strong><%= event.eventable_type %></strong>
  <%#= time_ago_in_words(timestamps - Time.now) %>
</div>
