<div class="container-feed">
  <div class="col-md-4 col-md-offset-4">
    <% if @events.any? %>
      <% @events.each do |event| %>
        <%= render partial: event.action, locals: {event: event} %> <!-- #locals =>sinon message d'erreur de rails, il ne connait pas event-->
      <% end %>
    <% end %>
  </div>
</div>

