<% if user_signed_in? == false %>
  <div class="navbar-wagon-home">
    <!-- Logo -->
    <%= link_to root_path, class: "navbar-wagon-brand" do %>
      <h4>Diamond</h4>
    <% end %>
    <!-- Right Navigation -->
    <div class="navbar-wagon-right hidden-xs hidden-sm">
        <!-- Login text link -->
        <%= link_to t(".sign_in", default: "Login"), new_user_session_path, class: "navbar-wagon-item navbar-wagon-link" %>
    </div>
  </div>
<% end %>

<div class="banner-new-york" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url(<%= image_path 'new-york.jpeg' %>);">
  <div class="banner-content">
    <h1>Find your Buddies</h1>
    <p>in New-york</p>
    <div class="button">
      <p>
        <%= link_to "Press to start", activities_path, id: "search-form", class: "styled-btn" %>
      </p>
    </div>
  </div>
</div>

