<div class="banner-new-york" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url(<%= image_path 'new-york.jpeg' %>);">
  <div class="banner-content">
    <h1>Find your Buddies</h1>
    <p>in New-york</p>
    <div class="button">
      <p>
        <%= link_to "Press to start", activities_path, id: "search-form", class: "styled-btn" %>
      </p>
    </div>
  </div>
</div>

