/* Main class */
.navbar-wagon-home {
  display: flex;
  height: 70px;
  padding: 0px 30px;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10000;
  height: 65px;
}

/* Optional class to fix the navbar on top */
.navbar-wagon-fixed {
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 1;
  width: 100%;
}

/* Navbar logo */
.navbar-wagon-brand img {
  width: 50px;
  text-decoration: none;
}

/* Navbar right section (with form, links, button) */
.navbar-wagon-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Navbar item */
.navbar-wagon-item {
  flex: 0 1 auto;
  cursor: pointer;
  padding: 0 20px;
  margin-right: 40px;
}

/* Navbar standard link */
.navbar-wagon-link {
  color: #E6E6E6;
  font-size: 20px;
}
.navbar-wagon-link:hover {
  color: #FF586F;
  text-decoration: none;
  transition: all 0.4s ease;
}
